	html,body,div,h2,textarea{
		padding:0;
		margin:0;
	}
	
	body {
		background:url('../images/te.jpg');
			
	}
	
	h2 {
		text-align:center;
		color:black;
		font-style:600;
		font-size:1.5em;
	}
	div#tit {
		background-color:rgba(240,255,255, 0.1);
		width:70%;
		margin:auto;
		padding-bottom:5px;
		padding-top:5px;
	}
	div#editor {
		width:70%;
		margin:auto;
		height:10;
	}
	
	/*button*/
	#button-wrapper {
		width: 400px;
		text-align: center;
		padding: 0 100px;
		box-sizing: border-box;
		-webkit-transition: .3s all ease .3s;
		transition: .3s all ease .3s;
		position: fixed;
		top: 97%;
		left: 50%;
		-webkit-transform: translate3d(-50%, -50%, 0);
		transform: translate3d(-50%, -50%, 0);
	}
	button#bt {
		width: 80%;
		background: rgba(0, 0, 0, 1);
		color:white;
		border: none;
		border-radius: 50px;
		padding: 5px 0;
		cursor: pointer;
		-webkit-transition: .3s all ease;
		transition: .3s all ease;
		position: relative;
	}
	button#bt:hover{
		transform:translateY(-10px);
	}
	
	button#bt .fill {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 0%;
		background: #000000;
		border-radius: 50px;
	}

	#button-wrapper.clicked {
		padding: 0;
	}
 
	#button-wrapper.clicked button#bt {
		background: #ccc;
		margin-top: 25px;
	}
 
	#button-wrapper.clicked button#bt p {
		max-height: 0;
		overflow: hidden;
	}
	
	#button-wrapper button#bt p{
		font-style:bold;
		font-size:1.5em;
	}
 
	#button-wrapper.clicked button#bt .fill {
		width: 100%;
		-webkit-transition: .3s all ease .3s;
		transition: 2s all ease .6s;
	}           
	#warn{
		padding-top:1.5em;
		margin:0;
		text-align:center;
		width:400px;
		height:6em;
		background-color:#000;
		border-radius:2px;
		color:#fff;
		font-size:1.2em;
		position:absolute;
		top:38%;
		right:36%;
	}
	
	.close {
		position: absolute;
		top: 15px;
		right: 35px;
		color: #ffffff;
		font-size: 40px;
		font-weight: bold;
		transition: 0.3s;
		position:absolute;
		top:-8px;
		right:0;
	}
	 
	.close:hover,.close:focus {
		color: #ff0457;
		text-decoration: none;
		cursor: pointer;
		
	}